# VSCode ignore
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__


# You WANT this to be ignored, because it contains your bots token!
## Shortly said. Anyone that has your bots token can login as your bot
## and do whatever in any server it is in.. for example nuke a server depending on the bots perms
.env


# Other (ignored for user privacy and other)
assets/join_message_images/*.*
assets/profile_pictures/*.*
assets/boost_images/*.*

## Snowy (Local ignore.)
testing
.local
web/_old

misc/temp
misc/temp/test

logs/*.log
logs/errors/*

# No user data
data/user_data.*